{% extends "base.html" %}

{% block content %}

      <div class="container">
        <a href="https://www.netflix.com/watch/{{ netflix }}">
          <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
        </a>
        <h1 class="text-uppercase mb-0">Choose a Classic Sitcom</h1>
        <hr class="star-light">
        <a href={{ url_for('cheers') }}>
          <h2 class="font-weight mb-0">Cheers</h2>
        </a>
	 <a href={{ url_for('frasier') }}>
          <h2 class="font-weight mb-0">Frasier</h2>
        </a>
	 <a href={{ url_for('friends') }}>
          <h2 class="font-weight mb-0">Friends</h2>
         </a>
	  <a href={{ url_for('fuller') }}>
          <h2 class="font-weight mb-0">Fuller House</h2>
          </a>
	  <a href={{ url_for('star_trek') }}>
            <h2 class="font-weight mb-0">Friends</h2>
          </a>
	  <a href={{ url_for('andy') }}>
          <h2 class="font-weight mb-0">Star Trek: The Next Generation</h2>
         </a>
	  <a href={{ url_for('the_ranch') }}>
          <h2 class="font-weight mb-0">The Ranch</h2>
         </a>
	 <a href={{ url_for('that_show') }}>
	   <h2 class = "font-weight mb-0">That '70s Show</h2>
	 </a>
	 <a href = {{ url_for('twilight') }}>
          <h2 class="font-weight mb-0">The Twilight Zone</h2>
        </a>


      </div>


  {% endblock %}
