{% extends "base.html" %}

{% block content %}


      <div class="container">
	<a href="https://www.netflix.com/watch/{{ netflix }}">
	  <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
	</a>
	<h1 class="text-uppercase mb-0">Choose a Comedy Show</h1>
	<hr class="star-light">
	<a href={{ url_for('atypical') }}>
          <h2 class="font-weight mb-0">Atypical</h2>
         </a>
	<a href={{ url_for('arrested') }}>
	  <h2 class="font-weight mb-0">Arrested Development</h2>
	</a>
	<a href={{ url_for('blue') }}>
          <h2 class="font-weight mb-0">Blue Mountain State</h2>
        </a>
	<a href={{ url_for('californication') }}>
          <h2 class="font-weight mb-0">Californication</h2>
        </a>
	<a href={{ url_for('new') }}>
          <h2 class="font-weight mb-0">New Girl</h2>
         </a>
	<a href={{ url_for('parks') }}>
          <h2 class="font-weight mb-0">Parks and Recreations</h2>
        </a>
	<a href={{ url_for('friends') }}>
          <h2 class="font-weight mb-0">Portlandia</h2>
        </a>
	<a href={{ url_for('inbetween') }}>
          <h2 class="font-weight mb-0">The Inbetweeners</h2>
        </a>
	<a href={{ url_for('good') }}>
	  <h2 class="font-weight mb-0">The Good Place</h2>
	</a>
	 <a href={{ url_for('office') }}>
          <h2 class="font-weight mb-0">The Office</h2>
         </a>
	 <a href={{ url_for('trailer') }}>
          <h2 class="font-weight mb-0">Trailer Park Boys</h2>
         </a>
	 <a href={{ url_for('unbreakable') }}>
	   <h2 class="font_weight mb-0">Unbreakable Kimmy Schmidt</h2>
	 </a>
	 <a href={{ url_for('izombie') }}>
          <h2 class="font-weight mb-0">iZombie</h2>
         </a>



      </div>



{% endblock %}
