{% extends "base.html" %}

{% block content %}


  <div class="container">
    <a href="https://www.netflix.com/watch/{{ netflix }}">
      <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
    </a>
    <h1 class="text-uppercase mb-0">Coming Soon!</h1>
    <hr class="star-light">
    <p class="lead mb-0"> Sorry, our code monkeys are still working on the maths to randomise this show. </p>
    <p class="lead mb_0"> Instead, here is a behind the scenes video of Kanye West working on his 2005 album: "Late Registration"  </p>
    <hr class="star-light">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ImKfG8equzY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </div>


{% endblock %}
