{% extends "base.html" %}

{% block content %}


      <div class="container">
	<a href="https://www.netflix.com/watch/{{ netflix }}">
	  <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
	</a>
	<h1 class="text-uppercase mb-0">Choose a Crime Drama</h1>
	<hr class="star-light">
	<a href={{ url_for('black_list') }}>
          <h2 class="font-weight mb-0">BlackList</h2>
        </a>
	<a href={{ url_for('broadchurch') }}>
          <h2 class="font-weight mb-0">Broadchurch</h2>
        </a>
	<a href={{ url_for('criminal') }}>
          <h2 class="font-weight mb-0">Criminal Minds</h2>
        </a>
	<a href={{ url_for('dexter') }}>
          <h2 class="font-weight mb-0">Dexter</h2>
        </a>
	<a href={{ url_for('law') }}>
          <h2 class="font-weight mb-0">Law and Order: Special Victims Unit</h2>
	</a>
	<a href={{ url_for('luther') }}>
          <h2 class="font-weight mb-0">Luther</h2>
        </a>
	<a href={{ url_for('narcos') }}>
          <h2 class="font-weight mb-0">Narcos</h2>
         </a>
	<a href={{ url_for('ncis') }}>
          <h2 class="font-weight mb-0">NCIS</h2>
        </a>
	<a href={{ url_for('scandal') }}>
          <h2 class="font-weight mb-0">Scandal</h2>
        </a>
	<a href = {{ url_for('sherlock') }}>
          <h2 class="font-weight mb-0">Sherlock</h2>
        </a>

      </div>


{% endblock %}
