{% extends "base.html" %}

{% block content %}


      <div class="container">
	<a href="https://www.netflix.com/watch/{{ netflix }}">
	  <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
	</a>
	<h1 class="text-uppercase mb-0">Choose a D.C show</h1>
	<hr class="star-light">
	<a href={{ url_for('arrow') }}>
          <h2 class="font-weight mb-0">Arrow</h2>
        </a>
	<a href={{ url_for('lightning') }}>
          <h2 class="font-weight mb-0">Black Lightning</h2>
        </a>
	<a href={{ url_for('flash') }}>
          <h2 class="font-weight mb-0">The Flash</h2>
        </a>
	<a href={{ url_for('gotham') }}>
          <h2 class="font-weight mb-0">Gotham</h2>
        </a>
	<a href={{ url_for('legends') }}>
          <h2 class="font-weight mb-0">Legends Of Tomorrow</h2>
        </a>
	<a href={{ url_for('supergirl') }}>
          <h2 class="font-weight mb-0">Supergirl</h2>
        </a>
      </div>


  {% endblock %}
