{% extends "base.html" %}

{% block content %}


      <div class="container">
        <a href="https://www.netflix.com/watch/{{ netflix }}">
          <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
        </a>
        <h1 class="text-uppercase mb-0">Choose a Drama Show</h1>
        <hr class="star-light">
        <a href={{ url_for('black_mirror') }}>
          <h2 class="font-weight mb-0">Black Mirror</h2>
        </a>
	<a href={{ url_for('bad') }}>
          <h2 class="font-weight mb-0">Breaking Bad</h2>
        </a>
	<a href={{ url_for('midwife') }}>
          <h2 class="font-weight mb-0">Call The MidWife</h2>
        </a>
	<a href={{ url_for('charmed') }}>
          <h2 class="font-weight mb-0">Charmed</h2>
        </a>
	<a href={{ url_for('episodes') }}>
          <h2 class="font-weight mb-0">Episodes</h2>
        </a>
	<a href={{ url_for('gilmore') }}>
          <h2 class="font-weight mb-0">Gilmore_girls</h2>
        </a>
	<a href={{ url_for('glee') }}>
          <h2 class="font-weight mb-0">Glee</h2>
        </a>
	 <a href={{ url_for('greys') }}>
          <h2 class="font-weight mb-0">Greys Anatomy</h2>
         </a>

	<a href = {{ url_for('mad') }}>
	  <h2 class="font-weight mb-0">Mad Men</h2>
	</a>
	<a href={{ url_for('nashville') }}>
          <h2 class="font-weight mb-0">Nashville</h2>
        </a>
	<a href={{ url_for('nurse') }}>
          <h2 class="font-weight mb-0">Nurse Jackie</h2>
        </a>
	<a href={{ url_for('parenthood') }}>
          <h2 class="font-weight mb-0">Parenthood</h2>
        </a>
	<a href={{ url_for('shameless') }}>
          <h2 class="font-weight mb-0">Shameless</h2>
         </a>
	<a href={{ url_for('sons') }}>
          <h2 class="font-weight mb-0">Sons of Anarchy</h2>
        </a>
	<a href={{ url_for('the_100') }}>
          <h2 class="font-weight mb-0">The 100</h2>
        </a>
	<a href={{ url_for('vampire') }}>
          <h2 class="font-weight mb-0">The Vampire Diaries</h2>
        </a>
	<a href={{ url_for('walking') }}>
          <h2 class="font-weight mb-0">The Walking Dead</h2>
         </a>
	<a href = {{ url_for('west') }}>
	  <h2 class="font-weight mb-0">The West Wing</h2>
	</a>
	<a href = {{ url_for('twin') }}>
	   <h2 class="font-weight mb-0">Twin Peaks</h2>
	</a>
	<a href={{ url_for('weeds') }}>
          <h2 class="font-weight mb-0">Weeds</h2>
         </a>
      </div>


{% endblock %}
