{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <a href="https://www.netflix.com/watch/{{ netflix }}">
    <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
  </a>
  <h1 class="text-uppercase mb-0">Choose a TV Category</h1>
  <hr class="star-light">
  <div class="rows">
    <div class="btn-froup-vertical" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-outline-secondary" href={{ url_for('animated') }} role="button">Animated</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="btn btn-outline-secondary" href={{ url_for('anime') }} role="button">Anime</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="btn btn-outline-secondary" href={{ url_for('classic') }} role="button">Classic Sitcom</a>
     </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="btn btn-outline-secondary" href={{ url_for('comedy') }} role="button">Comedy</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="btn btn-outline-secondary" href={{ url_for('crime') }} role="button">Crime Drama</a>
      </div>
      <hr class="br">
      <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="btn btn-outline-secondary" href={{ url_for('dc') }} role="button">D.C Television</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="btn btn-outline-secondary" href={{ url_for('drama') }} role="button">Drama</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
              <a class="btn btn-outline-secondary" href={{ url_for('marvel') }} role="button">Marvel Television</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-outline-secondary" href={{ url_for('originals') }} role="button">Netflix Originals</a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-outline-secondary" href={{ url_for('romcom') }} role="button">Romcom</a>
      </div>
    </div>
</div>
{% endblock %}
