{% extends "base.html" %}
{% block content %}
<div class="container">
  <a href="https://www.netflix.com/watch/{{ netflix }}" target="_blank">
    <img class="img-fluid mb-5 d-block mx-auto" src="http://image.tmdb.org/t/p/w300/{{ value }}" alt="">
  </a>
  <a href="https://www.netflix.com/watch/{{ netflix }}" target="_blank">
    <h1 class="text-uppercase mb-0">{{ episode_name }} </h1>
  </a>
  <p class="lead mb-0">{{  description  }}</p>
  <hr class="star-light">
  <h2 class="font-weight-light mb-0">Season {{ season }} | Episode {{ episode }}</h2>
</div>
{% endblock %}  
