{% extends "base.html" %}

{% block content %}
       <div class="container">
         <a href="https://www.netflix.com/watch/{{ netflix }}">
           <img class="img-fluid mb-5 d-block mx-auto" src="{{ value }}" alt="">
        </a alt="">
          <h1 class alt=""="text-uppercase mb-0">Choose a Netflix Original</h1>
          <hr class="star-light">
	         <a href={{ url_for('reasons') }}>
             <h2 class="font-weight mb-0">13 Reasons Why </h2>
           </a>
	          <a href={{ url_for('bojack') }}>
	  <h2 class="font-weight mb-0">Bojack Horseman</h2>
	</a>
	<a href={{ url_for('grace') }}>
          <h2 class="font-weight mb-0">Grace and Frankie</h2>
        </a>
	<a href={{ url_for('cards') }}>
          <h2 class="font-weight mb-0">House of Cards</h2>
        </a>
	<a href={{ url_for('how_to') }}>
          <h2 class="font-weight mb-0">How to Get Away with Murder</h2>
         </a>
        <a href={{ url_for('master') }}>
          <h2 class="font-weight mb-0">Master of None</h2>
        </a>
	 <a href = {{ url_for('orange') }}>
          <h2 class="font-weight mb-0">Orange is the New Black</h2>
         </a>
	 <a href={{ url_for('ozark') }}>
          <h2 class="font-weight mb-0">Ozark</h2>
         </a>
	 <a href={{ url_for('peaky') }}>
          <h2 class="font-weight mb-0">Peaky Blinders</h2>
         </a>
	 <a href={{ url_for('penny') }}>
          <h2 class="font-weight mb-0">Penny Dreadful</h2>
         </a>
	 <a href = {{ url_for('stranger') }}>
           <h2 class="font-weight mb-0">Stranger Things</h2>
         </a>
	 <a href={{ url_for('sense8') }}>
          <h2 class="font-weight mb-0">Sense8</h2>
         </a>
	 <a href={{ url_for('get_down') }}>
          <h2 class="font-weight mb-0">The Get Down</h2>
         </a>

      </div>
{% endblock %}
